# ACPI
CONFIG_ACPI_AC=y
CONFIG_ACPI_BATTERY=y
CONFIG_ACPI_FAN=y
CONFIG_ACPI_THERMAL=y

# ATA
CONFIG_ATA=y
CONFIG_ATA_PIIX=y
CONFIG_SATA_AHCI=y

# Block device
CONFIG_BLK_DEV_SR=y

# CPU freq
CONFIG_X86_ACPI_CPUFREQ=y

# DMA BUF
CONFIG_DMABUF_HEAPS_SYSTEM=y

# DRM
CONFIG_DRM_I915=y

# Filesystem
CONFIG_ISO9660_FS=y

# Mouse
CONFIG_MOUSE_PS2=y

# Sound
CONFIG_SND_HDA_GENERIC=y
CONFIG_SND_HDA_INTEL=y

# USB
CONFIG_USB_UHCI_HCD=y
CONFIG_USB_OHCI_HCD=y

# Watchdog
CONFIG_ITCO_WDT=y
CONFIG_ITCO_VENDOR_SUPPORT=y

# Wi-Fi
CONFIG_CFG80211=y
CONFIG_MAC80211=y
CONFIG_RFKILL=y

##### Device specific #####

# Ethernet
CONFIG_SKY2=y

# I2C
CONFIG_I2C_I801=y
CONFIG_I2C_SMBUS=y

# MemoryStick
CONFIG_MEMSTICK=y
CONFIG_MS_BLOCK=y

# Misc
CONFIG_TIFM_CORE=y
CONFIG_TIFM_7XX1=y

# PCMCIA
CONFIG_PCCARD=y
CONFIG_YENTA=y

# Platform
CONFIG_SONY_LAPTOP=y

# Wi-Fi
CONFIG_WLAN_VENDOR_INTEL=y
CONFIG_IWL3945=m
